#disable register globals in php
php_value register_globals off

#allow following of symlinks
Options +FollowSymLinks

#rewrite rules
<IfModule mod_rewrite.c>
    RewriteEngine on
    
    #exclude the api folder from the rewrite
    RewriteRule ^(api)($|/) - [L]
    
    #redirect all petitions to public folder
    RewriteRule    ^$    public/    [L]
    RewriteRule    (.*) public/$1    [L]
</IfModule>