html{
    overflow-y:scroll;
}

body{
    padding-top:75px;
}

#login-footer{
    padding-top:25px;
}

.id-tab{
    float: right !important;
    padding-top:10px;
    color:grey;
}
/*
.left-form{
    padding-left: 0 !important;
}

.custom-actions{
    margin-top: 15px;
}

.id-tab{
    float: right !important;
    padding-top: 10px;
}

.navbar-inner{
    box-shadow: #999999 0px 4px 8px 0;
    margin-bottom: -2px !important;
}

table{
    border: 1px solid #DDDDDD;
}

.brand{
    border-right: 1px solid black !important;
}*/
