html{
    overflow-y:scroll;
}

body{
    padding-top:75px;
}

#login{
    padding-top:50px;
}

#login-footer{
    padding-top:25px;
}

.min-table{
    min-height: 275px;
}

.id-tab{
    color:grey;
}

.no-hover-a a:hover{
	text-decoration:none;
}

.span0{
    width: 30px !important;
}

.inline-menu{
    float:right;
    width:150px;
}

.inline-table{
    width:700px;
}

#lang-selector{
    margin: 0;
    padding: 0;
    width: 164px;
}