html{
    overflow-y:scroll;
}

body{
    padding-top:75px;
}

#login{
    padding-top:50px;
}

#login-footer{
    padding-top:25px;
}

.id-tab{
    float:right !important;
	padding-top:10px;
    color:grey;
}
