body{
    padding-top: 75px;
}

#login{
    padding-top:225px;
}

.right_aligned{
    float:right;
}

#login-form, #footer{
    margin: 0 auto;
    padding: 0;
    width: 300px;
}

.left-form{
    padding-left: 0 !important;
}