html{
	overflow-y:scroll;
}

body{
    padding-top: 75px;
}

#login{
    padding-top:225px;
}

.right_aligned{
    float:right;
}

#login-form, #footer{
    margin: 0 auto;
    padding: 0;
    width: 300px;
}

.left-form{
    padding-left: 0 !important;
}

.custom-actions{
    margin-top: 15px;
}

.id-tab{
    float: right !important;
    padding-top: 10px;
}

.topbar {
    box-shadow: #999999 0px 4px 8px 0;
}

table{
    border: 1px solid #DDDDDD;
}